<ion-view view-title="Banner" ng-controller="bannerCtrl as bc">
 <ion-nav-title >
        <img src="img/icon-small.png" style="height: 36px; width: 36px; margin-top: 4px; "/>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="searchBar" >
        <div class="searchTxt" ng-show="bc.showMe">
            <div class="bgtxt">
                <input type="text" ng-model="bc.searchproducts" placeholder="Search Products" >
            </div>
        </div>
        <i class="icon ion-ios-search" ng-click="bc.showMeSearch()"></i>
        <span class="badge badge-assertive" style="margin-left: 0px;float:right;display: inline-block;">25</span>
    <i ui-sref="app.cart" class="icon ion-android-cart"></i>
    </div>
</ion-nav-buttons>
   <ion-content padding="true" class="has-header" style="margin-bottom:10px;">
   
   <ion-slide-box on-slide-changed="change(index)" >
    <ion-slide>
        <img src="img/slide1.png" ng-src="{{bc.category[0]}}"/>
      </ion-slide>
      <ion-slide>
        <img src="img/slide2.jpg"  ng-src="{{bc.category[1]}}"/>
      </ion-slide>
    <ion-slide>
        <img src="img/slide3.jpg"  ng-src="{{bc.category[2]}}"/>
      </ion-slide>
   </ion-slide-box>
    <hr/>
   
   <h3 style="float: left;margin-top:0px; width: 100%;padding: 0 5px 0px 0px;color: #000;">New Products</h3>
   <div class="products" style="display: flex; overflow-y: hidden; overflow-x: visible;">
        <div class="product" style="" ng-repeat="x in bc.categoryBannersSpecial">
            <div class="product_img"><a href="javascript:;" ng-click="bc.fetchDetail(x.productid)"><img style="width: 168px !important;"  src="img/product1.png" ng-src="{{x.image}}" /></a></div>
            <div class="product_name">{{x.name | cut:true:50:' ..'}}</div>
            <div class="price" ng-if="x.specialprice" style="text-align: center;"><span class="regularPrice">{{x.regularprice | currency}}</span><span class="product_price">{{x.specialprice | currency}}</span></div>
            <div class="price" ng-if="!x.specialprice" style="text-align: center;"><span class="product_price">{{x.regularprice | currency}}</span></div>
        </div>
   </div>
   <hr/>
   <h3 style="float: left;margin-top: 0px;width: 100%;padding: 0 5px 0px 0px;color: #000;">Special Offers</h3>
   <div class="products" style="display: flex; overflow-y: hidden; overflow-x: visible;">
        <div class="product" ng-repeat="x in bc.categoryBanners" style="">
            <div class="product_img"><a href="javascript:;" ng-click="bc.fetchDetail(x.productid)"><img style="width: 168px !important;" src="img/product1.png" ng-src="{{x.image}}" /></a></div>
            <div class="product_name">{{x.name | cut:true:50:' ..'}}</div>
            <div class="price" ng-if="x.specialprice" style="text-align: center;"><span class="regularPrice">{{x.regularprice | currency}}</span><span class="product_price">{{x.specialprice | currency}}</span></div>
            <div class="price" ng-if="!x.specialprice" style="text-align: center;"><span class="product_price">{{x.regularprice | currency}}</span></div>
        </div>
   </div>
  </ion-content>
</ion-view>