<ion-view view-title="Banner" ng-controller="bannerCtrl as bc">
 <ion-nav-title >
        <img src="img/icon-small.png" style="height: 36px; width: 36px; margin-top: 4px; "/>
  </ion-nav-title>
  <div class="bar bar-subheader bar-dark">
  <h1 class="title">Magento Banner</h1>
</div>
   <!-- <ion-nav-buttons side="right"  >
      <input type="search" ng-model="pc.searchproducts" />
      <i style="color: white;font-size: 24px; padding: 5px 10px 5px 10px;" class="icon ion-home" ng-click="goHome()"></i>
    </ion-nav-buttons>

<ion-nav-buttons side="right">
    <div class="searchBar" >
        <div class="searchTxt" ng-show="pc.showMe">
            <div class="bgtxt">
                <input type="text" ng-model="pc.searchproducts" placeholder="Search Products" >
            </div>
        </div>
        <i class="icon ion-ios-search" ng-click="pc.showMeSearch()"></i>
    <i class="icon ion-android-cart"></i>
    </div>
</ion-nav-buttons>-->



   <ion-content padding="true" class="has-header">
   
   
    
     <div class="products" style="margin-top: 50px;">
        <div class="product" ng-repeat="x in bc.category[0].Subcategories ">
            <div class="product_img"><img src="img/{{x.img}}.jpg" /></div>
            <div class="product_name">{{x.name}}</div>
            
        </div>
   </div>
  </ion-content>
</ion-view>